@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&family=Open+Sans:wght@300;400;700&display=swap");

body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

/* .container {
  margin: 0 auto;
  padding: 0;
} */

/* ---------- All: Header */
#contact-us-header {
  background-color: #065446;
  color: #fafafa;
  font-size: 0.9rem;
  height: 2.2rem;
  padding: 0.4rem 1.3rem 0 0;
  text-align: right;
}

#contact-us-header p:hover,
.contact-us-footer:hover {
  cursor: pointer;
  font-weight: 700;
}

#logo {
  background-color: #fafafa !important;
}

.navbar-brand {
  width: 75%;
}

#logo img {
  width: 100%;
}

#navbarNav li a {
  color: #065446;
}

.navbar-nav li a:hover,
.menu-active {
  font-weight: 700;
}

.navbar-collapse {
  background-color: #fafafa;
}

.navbar-toggler {
  border: none;
}

/* Credit: Stackoverflow @ https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4 and @ https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(6,84,70)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* /End of Credit */

/* ---------- All: Headings */
h3,
h4,
h6 {
  font-family: "Noto Serif JP", serif;
}

/* ---------- All: Border */
/* .border {
  background-color: red;
  height: 0.2rem;
  margin: 1rem auto;
  width: 2rem;
} */

/* ---------- All: Buttons */

.btn-red {
  background-color: rgba(232, 70, 16, 0.7);
  border-color: none;
  border-radius: 1.9rem;
  color: #fafafa;
  height: 2.5rem;
  width: 8.5rem;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
  background-color: #e84610;
  color: #fafafa;
}

.btn:focus {
  box-shadow: none;
}

.btn-margin {
  margin: 1.3rem 0 1.8rem 1.8rem;
}

/* ---------- All: Carousel */
/* Credit: Stackoverflow @ https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e84610' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e84610' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon-white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fafafa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon-white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fafafa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/* /End of Credit */

.carousel-indicators li {
  background-color: #e84610;
}

.carousel-indicators-white li {
  background-color: #fafafa;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1s ease;
}

/* ---------- All: Footer */
footer {
  background-color: rgba(6, 84, 70, 0.2);
  color: #065446;
  font-size: 0.9rem;
  padding: 1.3rem 1.3rem 0;
}

footer h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

footer ul {
  bottom: 0;
  position: absolute;
  right: 0;
}

footer ul li {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
}

footer a {
  color: #065446;
}

footer a:hover {
  color: #065446;
  font-weight: 700;
  text-decoration: none;
}

#copyright {
  margin: 0 auto 0.6rem;
}

/* ---------- All: Modal */
.form-group {
  color: #898b8a;
  font-size: 0.9rem;
  margin: 0.7rem 1.8rem 0;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.2rem rgba(232, 70, 16, 0.2);
}

/* ---------- Home: Section Hero Image */
#hero-image {
  background: url(/assets/images/school.jpg) no-repeat;
  background-size: cover;
  height: 37.5rem;
  position: relative;
  width: 100%;
}

#catchphrase {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.3rem;
  bottom: 3.1rem;
  color: #065446;
  height: 11rem;
  padding: 1.4rem 1.4rem 1.4rem 2.1rem;
  position: absolute;
  right: 0.6rem;
  width: 19rem;
}

#catchphrase h4 {
  font-weight: 700;
  line-height: 2rem;
}

/* ---------- Home: Sections Courses / Accommodation / Feedback */
.section-style {
  background-color: #f1f1f1;
  text-align: center;
}

.section-style h3 {
  background-color: #065446;
  color: #fafafa;
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
  padding: 0.6rem 0;
}

.section-style p {
  color: #065446;
  font-size: 0.9rem;
  padding: 1.6rem 1.3rem;
}

.btn-home-section {
  margin-bottom: 2rem;
}

#feedback-controls {
  min-height: 24rem;
}

.feedback-individual img {
  padding: 1rem 0;
  width: 6.3rem;
}

.feedback h6 {
  color: #065446;
  font-size: 0.8rem;
}

.feedback-individual p {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* ---------- Courses and Accommodation: Sections General / Exam / Host Family / Residence  */
.section-general p,
.section-general h6,
.section-general ul {
  text-align: left;
}

.section-heading {
  color: #065446;
  font-weight: 700;
  padding-left: 1.9rem;
  text-align: left;
}

.section-general ul {
  color: #065446;
  font-size: 0.9rem;
  margin: 0 0.6rem 1.9rem;
  padding-right: 0.6rem;
  text-align: left;
}

/* ---------- Register: Section Register */
#register {
  color: #898b8a;
}

.border-register {
  margin: 0;
}

#register h4 {
  color: #065446;
  font-weight: 700;
  margin: 1.5rem 0;
  text-align: center;
}

#register p {
  color: #065446;
  text-align: center;
}

/* -------------------- Media Query: Tablet Size -------------------- */
@media only screen and (min-width: 767.8px) {

  /* ---------- All: Header */
  #contact-us-header {
    font-size: 1.1rem;
    height: 2.5rem;
    padding-right: 1.8rem;
  }  

  #logo img {
    width: 70%;
  }

  .navbar-nav li {
    font-size: 1.1rem;
  }

  /* ---------- All: Footer */
  footer {
    font-size: 1rem;
  }

  footer h6 {
    font-size: 1.1rem;
  }

  footer ul li {
    font-size: 1.8rem;
    margin-right: 1.5rem;
  }
    
  #copyright {
    margin: 0 auto 1rem;
  }

/* ---------- Home: Section Hero Image */
  #catchphrase {
    bottom: 2rem;
    height: 13.4rem;
    right: 1.5rem;
    width: 22.2rem;
  }  

  #catchphrase h4 {
    font-size: 1.7rem;
    line-height: 2.7rem;
    padding-left: 1rem;
  }

  /* ---------- Home: Sections Courses / Accommodation / Feedback */
  .section-style {
    padding-top: 3rem;
  }

  .section-style-left {
    padding-right: 0;
  }

  .section-style-right {
    padding-left: 0;
  }

  .section-style h3 {
    font-size: 1.3rem;
    padding: 1rem 0;
  }

  .section-style-left h3,
  .section-style-right h3 {
    border-radius: 0.4rem 0.4rem 0 0;
  }
  
  .section-article {
    border: 1px solid #065446;
    border-radius: 0.5rem;
    margin: 1rem;
  }

  .section-article-home p {
    font-size: 1.2rem;
    min-height: 24rem;
  }

  .feedback-individual img {
    padding: 2rem 0;
    width: 9.5rem;
  }
  
  .feedback h6 {
    font-size: 1rem;
  }
  
  .feedback-individual p {
    font-size: 1.2rem;
    margin: 1rem 8rem 3rem;
    min-height: 10.5rem;
  }

  /* ---------- Courses and Accommodation: Sections General / Exam / Host Family / Residence  */
  .section-article-courses p,
  .section-article-accommodation p {
    font-size: 1.2rem;
    min-height: 12rem;
  }
  
  .section-general {
    padding-bottom: 3rem;
  }
  
  .section-general ul {
    font-size: 1rem;
  }

  .section-article-accommodation ul {
    min-height: 8rem;
  }

  /* ---------- Register: Section  Registration Form */
  #register {
    margin: 0 7rem;
  }

  #register h4 {
    font-size: 1.4rem;
  } 
  
}

/* -------------------- Media Query: Desktop Size -------------------- */
@media only screen and (min-width: 991.8px) {
  /* ---------- All: Header */
  .navbar-brand {
    width: 45%;
  }

  #logo img {
    width: 80%;
  }  

  #navbarNav {
    position: absolute;
    margin-right: 20px;
    right: 0;
    text-align: right;
  }

    /* ---------- Home: Sections Courses / Accommodation / Feedback */  
    .section-article-home p {
      min-height: 15rem;
    }  
  
    .feedback-individual-lg img {
    padding: 2rem 0;
    width: 7rem;
  }

  .feedback-individual-lg p {
    font-size: 1rem;
    padding: 1.5rem 2rem;
  }

  /* ---------- Courses and Accommodation: Sections General / Exam / Host Family / Residence  */
  #courses-image {
    background-color: red !important;
    height: 33rem;
    margin: 0 auto;
    width: 50rem;
  }

  .section-article-courses p,
  .section-article-accommodation p {
    min-height: 9rem;
  }

}








