@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&family=Open+Sans:wght@300;400;700&display=swap");

/* font-family: 'Noto Serif JP', serif; */
/* font-family: 'Open Sans', sans-serif; */

body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
}

/* ---------- Headings: All the pages */
h3,
h4,
h6 {
  font-family: "Noto Serif JP", serif;
}

/* ---------- Buttons */

.btn-red {
  border-radius: 30px;
  background-color: rgba(232, 70, 16, 0.7);
  border-color: none;
  color: #fafafa;
  height: 2.5rem;
  width: 8.5rem;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
  background-color: #e84610;
  color: #fafafa;
}

.btn:focus {
  box-shadow: none;
}

/* ---------- Carousel */
/* Credit: Stackoverflow @ https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e84610' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e84610' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/* /End of Credit */

.carousel-indicators li {
  background-color: #e84610;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1s ease;
}

/* ---------- Header: All the pages */
#contact-us-header {
  background-color: #065446;
  color: #fafafa;
  font-size: 0.9rem;
  height: 2.2rem;
  padding: 0.4rem 1.25rem 0 0;
  text-align: right;
}

#contact-us-header p:hover,
.contact-us-footer:hover {
  cursor: pointer;
  font-weight: 700;
}

#logo {
  background-color: #fafafa !important;
}

.navbar-brand {
  width: 75%;
}

#logo img {
  width: 100%;
}

#navbarNav li a {
  color: #065446;
}

.navbar-nav li a:hover,
.menu-active {
  font-weight: 700;
}

.navbar-collapse {
  background-color: #fafafa;
}

.navbar-toggler {
  border: none;
}

/* Credit: Stackoverflow @ https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4 and @ https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(6,84,70)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* /End of Credit */

/* ---------- Footer: All the pages */
footer {
  background-color: rgba(6, 84, 70, 0.2);
  color: #065446;
  font-size: 0.9rem;
  padding: 1.25rem 1.25rem 0;
}

footer h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

footer ul {
  bottom: 0;
  position: absolute;
  right: 0;
}

footer ul li {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
}

footer a {
  color: #065446;
}

footer a:hover {
  color: #065446;
  font-weight: 700;
  text-decoration: none;
}

#copyright {
  margin: 0 auto 0.6rem;
}

/* ---------- Modal: All the pages */
.form-group {
  font-size: 0.9rem;
  margin: 0.7rem 1.8rem 0;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.2rem rgba(232, 70, 16, 0.2);
}

.btn-modal {
  margin: 1.25rem 0 1.8rem 1.8rem;
}

/* ---------- Section Hero Image: Home */
#hero-image {
  background: url(/assets/images/school.jpg) no-repeat;
  background-size: cover;
  height: 37.5rem;
  position: relative;
  width: 100%;
}

#catchphrase {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.3rem;
  bottom: 3.1rem;
  color: #065446;
  height: 11rem;
  padding: 1.4rem 1.4rem 1.4rem 2.1rem;
  position: absolute;
  right: 0.6rem;
  width: 19rem;
}

#catchphrase h4 {
  font-weight: 700;
  line-height: 2rem;
}

/* ---------- Sections Courses Accommodation Feedback: Home */
#courses,
#accommodation,
#feedback {
  background-color: #f1f1f1;
  text-align: center;
}

#courses h3,
#accommodation h3,
#feedback h3 {
  color: #fafafa;
  background-color: #065446;
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
  padding: 10px 0;
}

#courses p,
#accommodation p,
#feedback p {
  color: #065446;
  font-size: 0.9rem;
  padding: 1.6rem 1.25rem;
}

.btn-home-section {
  margin-bottom: 2rem;
}

#feedback-controls {
  min-height: 24rem;
}

.feedback-individual img {
  padding: 1rem 0;
  width: 6.3rem;
}

#feedback h6 {
  color: #065446;
  font-size: 0.8rem;
}

.feedback-individual p {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
